{% extends "others/base1.html" %}
{% load crispy_forms_tags %}
{% block content %}
<body style="background-color: white;">
  <div class="both">

    <form action="." method="POST"> {% csrf_token %}
        <fieldset class="field">
             <div class="join">Reset Password</div>
             <br>
           {{form|crispy}}
             <br>
           <div>
             <button class="btn btn-primary" type="submit">Reset</button>
           </div>
         </fieldset>
    </form>
  </div>
</body>
{% endblock %}
