{% extends 'others/base.html'%}

{% load static %}
{% block content %}

<body>
  <div>
    <form method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
        <fieldset class="field">
             <div class="join">Add Room</div>
             <br>
              <div class="form-group">
                <label for="image" class="col-form-label">Image:</label>
                  <br>
                <input type="file" name="image">
              </div>
              <div class="form-group">
                <label for="room_type" class="col-form-label">Room_type:</label>
                <select class="form-control" name="room_type">
                    <option value="Single Room">Single Room</option>
                    <option value="Double Room">Double Room</option>
                    <option value="Deluxe Room">Deluxe Room</option>
                    <option value="Super Deluxe Room">Super Deluxe Room</option>
                </select>
              </div>
              <div class="form-group">
                 <label for="room_no" class="col-form-label">Room_no:</label>
                 <input type="text" name="room_no" class="form-control">
              </div>
              <div class="form-group">
                 <label for="price" class="col-form-label">Price:</label>
                 <input type="text" name="price" class="form-control">
              </div>
              <div class="form-group">
                 <label for="no_of_days_advance" class="col-form-label">Duration:</label>
                 <input type="text" name="no_of_days_advance" class="form-control">
              </div>
               <div class="form-group">
                 <label for="start_day" class="col-form-label">Start_day:</label>
                 <input type="text" name="start_day" class="form-control datepicker">
              </div>
           <div class="sign-in">
             <button type="submit" class="btn btn-primary">Add room</button>
           </div>
           <br>
         </fieldset>
    </form>
  </div>
</body>
<script>
     $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15, // Creates a dropdown of 15 years to control year,
    today: 'Today',
    clear: 'Clear',
    close: 'Ok',
    closeOnSelect: false // Close upon selecting a date,
  });

</script>
<h1 style="margin-bottom: 3%;"></h1>
{% include 'others/footer.html' %}
{% endblock %}