{% load static %}
 <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  rel="stylesheet">
<footer class="footer">
      <div class="footer-sub">
         <img width = "50px;" style = "border-radius: 60%;" src = "{% static 'images/logo.jpg' %}">
         <ul class="nav">
             <li class="nav-item"><a href="https://www.facebook.com/chuks.j.m" class="nav-link"><i class="fa fa-facebook fa-lg"></i></a></li>
             <li class="nav-item"><a href="https://www.twitter.com/Chuksmbanaso" class="nav-link"><i class="fa fa-twitter fa-lg"></i></a></li>
             <li class="nav-item"><a href="https://github.com/ChuksMbanaso" class="nav-link"><i class="fa fa-github fa-lg"></i></a></li>
             <li class="nav-item"><a href="https://www.linkedin.com/in/chuks-mbanaso-5b931a164/" class="nav-link"><i class="fa fa-linkedin fa-lg"></i></a></li>
         </ul>
          <p>
            copyright &copy; Chuks Hotel company
            <span id="date"></span>. all rights reserved
          </p>
     </div>
    <a class="scroll-link top-link" href="#"><i class="fas fa-arrow-up"></i></a>
 </footer>
